body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

/* ==== Base Typography ==== */

body {
  --font-text: "Huiwen Mincho", serif;
  --line-height-normal: 1.9;
  --paragraph-spacing: 1.4em;
  --file-line-width: 620px;
}

.markdown-preview-view {
  font-family: var(--font-text);
  font-size: 17px;
  line-height: var(--line-height-normal);
  letter-spacing: 0.02em;
}

.markdown-preview-view p {
  margin-bottom: var(--paragraph-spacing);
}

/* ==== Tags ==== */

.markdown-preview-view .tag,
.markdown-preview-view a.tag,
.markdown-reading-view .tag,
.markdown-reading-view a.tag {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0 0.2em 0 0;
  font-size: 0.88em;
  letter-spacing: 0.03em;
  color: var(--text-muted);
  opacity: 0.75;
  text-decoration: none;
}

.markdown-preview-view .tag:hover,
.markdown-preview-view a.tag:hover,
.markdown-reading-view .tag:hover,
.markdown-reading-view a.tag:hover {
  text-decoration: underline;
}

/* ==== Paper feeling ==== */

.markdown-preview-view {
  max-width: var(--file-line-width);
  margin: 0 auto;
  padding: 2.5em;
}

/* ==== Blockquote ==== */

blockquote {
  border-left: 2px solid #999;
  padding-left: 1em;
  color: #555;
}

/* ==== Mobile fallback ==== */

@media (max-width: 768px) {
  .markdown-preview-view {
    padding: 1.5em;
    font-size: 16px;
  }
}


.markdown-preview-view ul {
  list-style: none;
}

.markdown-preview-view ul li::before {
  content: "○";
  position: absolute;
  margin-left: -1.2em;
}

.markdown-preview-view
.list-bullet::after {
  box-shadow: none;
  background-color: transparent;
}

.cm-formatting-list
.list-bullet::after {
  box-shadow: none;
  background-color: transparent;
}
.cm-formatting-list
.list-bullet::after {
  content: "○";
  width: unset; height: unset;
}
